%br
%br
.jumbotron
  %h1.display-4 Can I Buy?
  %p.lead This is a simple tool which allows you to map all your savings, through different and unlimited profiles. Open source and built with Ruby on Rails, it's easy to customize and implement new features as you'd like.
  %hr.my-4
  %p Contribute with us on GitHub =)
  %p.lead
    = link_to "New Profile", "#", "data-toggle": "modal", "data-target": "#addProfileModal", role: "button", class: "btn btn-outline-dark btn-lg"
    = link_to fa_icon("github") + " GitHub", "https://github.com/hasken-14/can-i-buy", role: "button", class: "btn btn-outline-dark btn-lg", target: "_blank"
